<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>Hey! Here's some text for the paragraph tag.</p>

    {{> footer}}
  </body>
</html>
