<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Website under maintenence</title>
  </head>
  <body>
    <h1>Hmm... Something is up!</h1>
    <p>Hey! Our website is currently under maintenence, please visit us later.</p>

    {{> footer}}
  </body>
</html>
